@model IEnumerable<ClassLibrary1.ScheduledClassStatus>

@{
    ViewBag.Title = "Scheduled Class Statuses";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SCSName)
            </th>
            <th></th>
        </tr>
    </tbody>

    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SCSName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SCSID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SCSID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SCSID })
                </td>
            </tr>
        }
    </thead>

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
