@model IEnumerable<ClassLibrary1.Enrollment>

@{
    ViewBag.Title = "Enrollment";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin") || (User.IsInRole("Scheduling")))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                @if (User.IsInRole("Admin") || (User.IsInRole("Scheduling")))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID })
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}